<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.myapps" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="2" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<application android:icon="@drawable/camera" android:label="@string/app_name">
		<activity android:name="Home" android:label="@string/app_name"
		android:theme="@style/CustomTheme"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="AddCam" android:label="record"
			android:theme="@style/CustomTheme" android:configChanges="keyboardHidden|orientation" />
		<activity android:name="EditCam" android:label="modify"
			android:theme="@style/CustomTheme" android:configChanges="keyboardHidden|orientation" />
		<activity android:name="Video" android:label="Viewer"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboardHidden" />
		<activity android:name="MultiVideo" android:label="MultiVideo"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboardHidden" />
		<activity android:name=".MesPreferences"/>

	</application>
</manifest>